.app__header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__header-head {
  padding: 0rem 1rem 0rem 1rem;

  @media screen and (min-width: 450px) {
    padding: 0rem 2rem 0rem 2rem;
  }
}

.app__header-paragraph {
  width: 60%;
  margin-top: 2rem;
  color: var(--white-color);
  line-height: 1.5;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;

  @media screen and (min-width: 2000px) {
    font-size: 2.15rem;
  }
}
